<body>

	<div class = "contenedor">

		<div class="campoUno">

            <div class="campoMenu navTwo">
                <!-- Definir cada link para los formularios -->
                <a [routerLink]="['/dashboard/PersonasRuta']">Personas</a>
                <a [routerLink]="['/dashboard/listaPersonas']">Lista de Personas</a>
                <a [routerLink]="['/dashboard/ConcesionariosRuta']">Concesionarios</a>
                <a [routerLink]="['/dashboard/listaConcesionarios']">Lista de Concesionarios</a>
                <a [routerLink]="['/dashboard/AutomovilesRuta']">Automoviles</a>
                <a [routerLink]="['/dashboard/listaAutomoviles']">Lista de Automoviles</a>
                <a [routerLink]="['/dashboard/VentaRuta']">Ventas</a>
                <a [routerLink]="['/dashboard/listaVentas']">Lista de Ventas</a>
                <a [routerLink]="['/dashboard/RolRuta']">Roles</a>
                <a [routerLink]="['/dashboard/listaRoles']">Lista de Roles</a>
            </div>

        </div>

		<!-- "flex-grow" define la prioridad de crecimiento que tiene
            el elemento para que abarque todo lo ancho de la pantalla -->
		<div class="campoDos" style="flex-grow: 1;">

            <!-- Llamada de las rutas -->
            <router-outlet></router-outlet>

    </div>

	</div>

</body>
