<!-- Encabezado de la pagina -->
<header>
	<div class="contenedor">
        <div>
            <img src="./imagenes/header/encabezado.jpg">          
        </div>
    
        <div>
            <!-- elemento "nav" para los links a navegar -->
            <!-- clase "nav" para definir el formato de separación de cada link -->
            <nav class="nav">
        
                <!-- Definir cada link para los formularios -->
                <a href="#">INICIO</a>
                <a href="#">SERVICIOS</a>
                <a href="#">PLANES</a>
                <a href="#">CONTACTO</a>
            
            </nav>
        </div>
    
        <div>
            <!-- elemento "nav" para los links a navegar -->
            <!-- clase "nav" para definir el formato de separación de cada link -->
            <nav class="nav">
        
                <!-- Definir cada link para los formularios -->
                <button type="button" class="btn btn-dark margen">INICIAR SESION</button>
                <button type="button" class="btn btn-dark margen">REGISTRO</button>
            
            </nav>
        </div>
    </div>	


</header>