/* Contenedor principal */
.container{
	
	/* "display" indicar que es un modelo de caja flexible *//* "contenedor" clase para usar los Flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
    
	width: 100vw;
	height: 100vh;
}

/* Contenedor del formulario */
.containerForm{
	
	/* "display" indicar que es un modelo de caja flexible *//* "contenedor" clase para usar los Flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
    
	width: 20vw;
	height: 30vh;

	/* "background-color" color del fondo del texto */
	background-color: #000000;
    /* Cambiar color de texto */
	color: azure;
	/* "text-align" define la posicion en la que se situa el texto */
	text-align: center;
}

.imputTamaño {
    width : 150px;
    padding: 0;
    margin: 0;
}