<div class="container">

    <!-- Titulo -->
    <div class="containerTitulo">
        <h1>Contacto</h1>

        <p style="color: #A6A6A6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl
            ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas
            euismod orci. </p>
    </div>

    <!-- Organizar contactos -->
    <div class="containerAcomodarContactos">

        <!-- Plan 1 -->
        <div class="containerContactoOne">

            <h4>Utiliza las siguientes vías de contacto, o rellena el formulario. </h4>

            <div class="separacion">
              <h5>Via E-mail</h5>
              <nav>
                  <a href="#">autostyle@tuconcesionario.com.co</a>
              </nav>
            </div>

            <div class="separacion">
              <p>Siguenos En Nuestras Redes Sociales:</p>
              <div class="contenedorImagen">
                  <div>
                      <img src="./assets/imagenes/contacto/Contacto1.png" width="40px">
                  </div>
                  <div>
                      <img src="./assets/imagenes/contacto/Contacto2.png" width="40px">
                  </div>
                  <div>
                      <img src="./assets/imagenes/contacto/Contacto3.png" width="40px">
                  </div>
                  <div>
                      <img src="./assets/imagenes/contacto/Contacto4.png" width="40px">
                  </div>
                  <div>
                      <img src="./assets/imagenes/contacto/Contacto5.png" width="40px">
                  </div>
              </div>

            </div>

            <div class="separacion">
              <p>Por teléfono:</p>

              <div class="textoColor">
                <p>(+57) 601 556789</p>
                <p>(+57) 320 668 12 46</p>
              </div>
            </div>

        </div>

        <!-- Plan 2 -->
        <div class="containerContactoTwo">

            <div style="text-align: start;">
                <!-- PEDIR NOMBRE -->
                <div class="form-group separacion">
                    <input type="text" class="form-control" size="55" id="txtNombre" placeholder="Escribe tu nombre">
                </div>

                <!-- PEDIR EMAIL -->
                <div class="form-group separacion">
                    <input type="text" class="form-control" size="55" id="txtEmail" placeholder="Escribe tu e-mail">
                </div>

                <!-- PEDIR TELEFONO -->
                <div class="form-group separacion">
                    <input type="number" class="form-control" size="55" id="txtTelefono"
                    placeholder="Escribe tu número de telefono (Opcional)">
                </div>

                <div class="form-group separacion">
                    <textarea class="form-control" size="55" id="txtArea" rows="3"
                    placeholder="Escribe un texto"></textarea>
                  </div>

            </div>

            <!-- BOTON -->
            <div class="separacion">
                <button type="button" class="btn margen">ENVIAR MENSAJE</button>
            </div>
        </div>

    </div>

</div>
