<div class="container">

    <form [formGroup]="automovilForm" (ngSubmit)="updateAutomovil()" class="containerForm">
        
        <div class="colorLabel">

            <!-- Titulo "Registrar Automoviles" -->
            <div><h3>{{title}}</h3></div>

            <div style="text-align: start;">

                <!-- Id -->
                <div class= "row form-group">
                    <label for = "txtId_automovil">ID del automovil</label>
                    <input formControlName="id_automovil" type="number" id="txtId_automovil" class = "form-control" 
                    maxlength= "50" minlength= "3" required>
                </div>

                <!-- PEDIR MATRICULA -->
                <div class= "row form-group">
                    <label for = "txtMatricula">Matricula*</label>
                    <input formControlName="matriculas" type="text" id="txtMatricula" class = "form-control" 
                    maxlength= "6" minlength= "6" required>
                </div>
            
                <!-- PEDIR MARCA -->
                <div class = "row form-group">
                    <label for = "txtMarca">Marca*</label>
                    <input formControlName="marcas" type="text" id="txtMarca" class = "form-control" 
                    maxlength= "20" minlength= "4" required>
                </div>
                                
                <!-- PEDIR MODELO -->
                <div class = "row form-group">
                    <label for = "txtModelo">Modelo*</label>
                    <input formControlName="modelos" type="text" id="txtModelo" class = "form-control" 
                    maxlength= "20" minlength= "4" required>
                </div>
            
                <!-- PEDIR ANIO -->
                <div class = "row form-group">
                    <label for = "txtAnio">Año*</label>
                    <input formControlName="anios" type="number" id="txtAnio" class = "form-control" 
                    maxlength= "4" minlength= "4" required>
                </div>
                                
                <!-- PEDIR COLOR -->
                <div class = "row form-group">
                    <label for = "txtColor">Color*</label>
                    <input formControlName="colores" type="text" id="txtColor" class = "form-control" 
                    maxlength= "15" minlength= "3" required>
                </div>
                                
                <!-- PEDIR KILOMETRAJE -->
                <div class = "row form-group">
                    <label for = "txtKilometraje">Kilometraje*</label>
                    <input formControlName="kilometrajes" type="number" id="txtKilometraje" class = "form-control" 
                    maxlength= "20" minlength= "1" required>
                </div>
                                
                <!-- PEDIR PUERTAS -->
                <div class = "row form-group">
                    <label for = "txtPuertas">Puertas*</label>
                    <input formControlName="can_puertas" type="number" id="txtPuertas" class = "form-control" 
                    maxlength= "2" minlength= "1" required>
                </div>
                                
                <!-- PEDIR TIPO_COMBUSTIBLE -->
                <div class = "row form-group">
                    <label for = "txtCombustible">Tipo de Combustible*</label>
                    <input formControlName="tipos_combustibles" type="text" id="txtCombustible" class = "form-control" 
                    maxlength= "20" minlength= "4" required>
                </div>
                                
                <!-- PEDIR CAP_PERSONAS -->
                <div class = "row form-group">
                    <label for = "txtCapPersonas">Capacidad de personas*</label>
                    <input formControlName="cap_personas" type="number" id="txtCapPersonas" class = "form-control" 
                    maxlength= "2" minlength= "1" required>
                </div>
                                
                <!-- PEDIR PRECIO -->
                <div class = "row form-group">
                    <label for = "txtPrecio">Precio*</label>
                    <input formControlName="precios" type="number" id="txtPrecio" class = "form-control" 
                    maxlength= "20" minlength= "3" required>
                </div>

            </div>                
            <hr>

            <!-- BOTON ACTUALIZAR -->
            <div class="definirCentro">
                <input type="submit" id="btnActualizar" name="btnActualizar" 
                value="Actualizar" class="btn btn-dark margen">  
            </div>
            
        </div>

    </form>

</div>