<div class="container">

    <form [formGroup]="ventaForm" (ngSubmit)="addVenta()" class="containerForm">

        <div class="colorLabel">

            <!-- Titulo "Registrar venta" -->
            <div><h3>{{title}}</h3></div>

            <div style="text-align: start;">

                <!-- PEDIR FECHA_VENTA -->
                <div class= "row form-group">
                    <label for = "txtFechaVenta">Fecha de Venta*</label>
                    <input formControlName="fecha_ventas" type="date" id="txtFechaVenta" class = "form-control" required>
                </div>
            
                <!-- PEDIR MONTO_VENTA -->
                <div class= "row form-group">
                    <label for = "txtMontoVenta">Monto de Venta*</label>
                    <input formControlName="monto_ventas" type="number" id="txtMontoVenta" class = "form-control" required>
                </div>

            </div>
            <hr>

            <!-- BOTON REGISTRAR -->
            <div>
                <input type="submit" id="btnRegistrar" name="btnRegistrar" 
                value="Registrar" class="btn btn-dark margen">  
            </div>

        </div>

    </form>

</div>