<div class="container">

    <form [formGroup]="rolForm" (ngSubmit)="updateRol()" class="containerForm">

        <div class="colorLabel">

            
            <div><h3>{{title}}</h3></div>

            
            <div class= "row form-group">
                <label for = "txtId_rol">ID del rol</label>
                <input formControlName="id_rol" type="number" id="txtId_rol" class = "form-control" 
                maxlength= "50" minlength= "3" required>
            </div>

            <div style="text-align: start;">
                
                <div class= "row form-group">
                    <label for = "txtNombre">Nombre*</label>
                    <input formControlName="nombres" type="text" id="txtNombre" class = "form-control" maxlength= "50" minlength= "3" required>
                </div>
            </div>         
            <hr>

            
            <div class="definirCentro">
                <input type="submit" id="btnActualizar" name="btnActualizar" 
                value="Actualizar" class="btn btn-dark margen">  
            </div>
            
        </div>

    </form>

</div>