<div class="container">

  <div class="colorLabel containerTexto">
    <h1 id="titulo">SU CONCESIONARIO</h1>
    <h2 id="titulo">AQUI ENCONTRARAS TODOS SOBRE CARROS</h2>

    <p class="texto">
      En su concesinario favorito encontraras toda clase de automóviles
      disponibles, nosotros te ayudaremos a eligir tu automovil que cumpla con
      tus necesidades.
    </p>

    <div class="botonPosicionOne">
      <button type="button" class="btn margen">DESCUBRELO</button> 
  </div>
  </div>

  <div class="img-container">
    <div class="container-imagen">
      <img src="../../../assets/ImagenPrincipal.jpg">
    </div>
  </div>

</div>
