<div class="container">

    <!-- Titulo -->
    <div class="containerTitulo">
        <h1>Planes</h1>
        
        <p>Recibimos tu usado por parte de pago para que estrenes uno numero 
            Tenemos planes de financiación, para que estrenes</p>
    </div>

    <!-- Organizar planes -->
    <div class="containerAcomodarPlanes">
        
        <!-- Plan 1 -->
        <div class="containerPlanOne">

            <div class="imagenPlanes">
                <div class="tituloTexto">
                    <h3>Básico</h3>
                    <h4>15€</h4>
                </div>
                <img src="./assets/imagenes/planes/Plan_1.png" width="75px">
            </div>
            
            

            <ul>
                <li>1 cuenta</li>
                <li>Acceso a los datos</li>
                <li>Crear contenido</li>
                <li>Publicar fotos</li>
                <li>Publicar videos</li>
            </ul>

            <!-- BOTON -->
            <div class="botonPosicionOne">
                <button type="button" class="btn margen">SELECCIONAR PLAN</button> 
            </div>
        </div>
    
        <!-- Plan 2 -->
        <div class="containerPlanTwo">

            <div class="imagenPlanes">
                <div class="tituloTexto">
                    <h3>Avanzado</h3>
                    <h4>25€</h4>
                </div>
                <img src="./assets/imagenes/planes/Plan_2.png" width="75px">
                
            </div>

            <ul>
                <li>Todo el plan Básico</li>
                <li>5 cuentas</li>
                <li>Atención personalizada</li>
                <li>Feedback mensual</li>
                <li>Destaca tus contenidos</li>
                <li>Acceso ilimitado</li>
                <li>Ofertas y descuentos</li>
                <li>Mayor seguridad</li>
            </ul>

            <!-- BOTON -->
            <div class="botonPosicionOne">
                <button type="button" class="btn margen">SELECCIONAR PLAN</button> 
            </div>
        </div>
    
        <!-- Plan 3 -->
        <div class="containerPlanThree">

            <div class="imagenPlanes">
                <div class="tituloTexto">
                    <h3>Personalizado</h3>
                    <nav>
                        <a href="#">Contactar</a>
                    </nav>
                </div>
                <img src="./assets/imagenes/planes/Plan_3.png" width="75px">
                
            </div>
            
            

            <p>Todas las características de los planes anteriores además de las 
                características personalizadas que necesites. </p>
            
            <p>Se realizará un presupuesto ajustado a las necesidades para ti.</p>

            <!-- BOTON -->
            <div class="botonPosicionOne">
                <button type="button" class="btn margen">CONTACTO</button> 
            </div>
        </div>

    </div>
    
</div>