<footer>

    <nav class="contenedor">
        <div class="navThree">
            <div>Siguenos en:</div>

            <div class="contenedorImagen">
                <div>
                    <img src="./assets/imagenes/footer/iconoFacebook.png" width="50px">
                </div>
                <div>
                    <img src="./assets/imagenes/footer/iconoInstagram.png" width="50px">
                </div>
                <div>
                    <img src="./assets/imagenes/footer/iconoWhatsApp.png" width="50px">
                </div>
                
            </div>
            
        </div>
    </nav>
    
</footer>